@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(26, 22, 22);
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px black;
}

.screen {
    min-width: 400px;
    min-height: 60px;
    background-color: rgb(21, 110, 43);
    border-radius: 5px;
    border: 2px solid rgb(21, 50, 43);
    font-family: 'Press Start 2P','Courier New', Courier, monospace;
    font-size: 35px;
    font-weight: 700;
    display:flex;
    justify-content: end;
    align-items: center;
}

.content {
    margin-right: 10px;
    margin-left: 10px;
    color:rgb(44, 219, 0);
    text-shadow: 
    0 0 5px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa;
}

.row {
    display: flex;
    gap: 4px;
}
.five {
    justify-content: space-between;
}

.number, .operator {
    height: 60px;
    width: 50px;
}

.number{
    background-color: lightgray;
}

.operator {
    background-color: lightgreen;
}

.equal {
    background-color: royalblue;
}

.dot {
    background-color: pink;
}

#clear {
    background-color: red;
}

#back {
    background-color: purple;
}

.functional {
    width: 100px;
    height: 50px;
}

.buttons {
    display:flex;
    flex-direction: column;
    gap: 4px;
}

button {
    flex:1;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 18px;
}